@mixin button($color: green){
  height: 50px;
  min-width: 50px;
  padding: 3px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, .7);

  & i{
    font-size: 44px;
  }
  &:active, &.active{
    color: $color;
  }
  &:hover{
    background: lightgray;
    cursor: pointer;
  }
}