@import "variables";
@import "mixins";

.excel__header {
  position: absolute;
  top: 2px;
  right: 0;
  left: 0;
  height: $header-height;
  padding: 16px 4px 16px 10px;
  display: flex;
  justify-content: space-between;
  //background: wheat;

  & input {
    margin: 0;
    color: #000;
    border: 4px solid transparent;
    border-radius: 4px;
    font-size: 18px;
    line-height: 22px;
    width: 300px;
    outline: none;

    &:hover{
      border: 4px solid $border-color;
    }

    &:focus{
      border: 4px solid #1a73e8;
    }

  }

  .button {
    @include button(red);
  }
}